.App{
  /* text-align: center; */
}

.textAlign{
  text-align:center;
}

.scoreBoardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formContainer{
  display: flex;
  flex-direction: column;
  text-align: left !important;
}


.inputField{
  padding: 10px;
  width: 250px;
  display: flex;
}