.App {
  /* text-align: center; */
}

.textAlign {
  text-align: center;
}

.scoreBoardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.formContainer {
  display: flex;
  flex-direction: column;
  text-align: left !important;
}

.inputField {
  padding: 10px;
  width: 250px;
  display: flex;
}

.submitButton {
  border: 1px solid;
  padding: 10px 0;
  background-color: transparent;
  border-radius: 4px;
  width: 100%;
  margin-top: 5px;
}

.submitButton:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.red-color {
  color: red;
}

.vertical-space {
  margin: 10px 0px;
}

.selectOptionForMatch {
  width: 100%;
  padding: 10px;
}

ul > * {
  list-style: none;
  padding: 5px 0;
}

.datalistContainer {
  position: absolute;
  background-color: white;
  width: 99%;
  border: 1px solid;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 1000;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.width45{
  width: 45%;
}